@import 'second';

div.modal-backdrop {
  min-height:1000px;
  position:absolute !important;
}
div.hero-modal {
  margin-top:20px !important;
  width:800px !important;
}
div.hero-modal .full-width { width:84% !important; } 
div.hero-modal label {
  float:left;
  width:115px;
}
