@import 'vars';

// Element styles
@import 'elements/modal';
@import 'elements/date-range-picker';
@import 'elements/reactable';

// Page styles
@import 'pages/home';
@import 'pages/set-hero';
@import 'pages/set-predictions';

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}